/* color code #4700D8 main blue
color code #9900F0 secondary blue
color code #F900BF 3 main pink
color code #FF85B3 light pink */

/* *{
 border: 2px solid red;
} */

/* colors */
:root {
  --primary: #4700d8;
  --transparent: rgba(0, 0, 0, 0.3);
  --ternary: #f900bf;
}

/* font */
@font-face {
  font-family: 'cooper_blackregular';
  src: url('font/COOPBL.TTF');
}
p{
  font-size: larger;
  font-family: 'Playfair Display', serif;
}
.font2{
  font-family: 'Playfair Display', serif;
}

h1,
.logo {
  font-family: 'cooper_blackregular';
}

.bg-blue {
  background-color: var(--primary);
}

.text-blue {
  color: var(--primary);
}

.bg-pink {
  background-color: var(--ternary);
}

.text-pink {
  color: var(--ternary);
}

/* navbar */
.navbar {
  background-color: var(--transparent);
  backdrop-filter: blur(3px);
}

.nav-link.active,
.nav-link:hover {
  text-decoration: underline;
  color: var(--ternary) !important;
  font-weight: bold;
}

/* .btn{
    color: white;
} */
.btn:hover {
  color: var(--primary) !important;
}

.background-image {
  transform: rotate(180deg);
}

.container-fluid,.row {
  --mdb-gutter-x: 0;
}

/* card */
.box:hover {
  transition: all 0.4s ease-in;
  transform: translateY(-20px) !important;
}

.icon {
  height: 5rem;
}

/* footer */
.icons:hover {
  color: white !important;
}

/* @media screen and (min-width: 250px) and (max-width: 540px) {
  .icons {
    height: 2.5rem;
  }
} */

button{
  font-size: 0.9rem !important;
}
.text-white {
  color: white;
}
/* img{
box-shadow:
  0.5px 4.5px 10px rgba(0, 0, 0, 0.07),
  4px 36px 80px rgba(0, 0, 0, 0.14)
;
} */