/* color code #4700D8 main blue
color code #9900F0 secondary blue
color code #F900BF 3 main pink
color code #FF85B3 light pink */

/* *{
 border: 2px solid red;
} */

:root{
    --primary: #4700D8;
    --transparent:rgba(0,0,0,0.3);
}
.bg-blue{
    background-color: var(--primary);
}
.text-blue{
    color: var(--primary);
}
/* navbar */
.navbar{
    -webkit-backdrop-filter: blur(3px);
  background-color: var(--ternary);
  backdrop-filter: blur(3px);
}
.nav-link.active,.nav-link:hover{
    
    text-decoration: underline;
    color: var(--primary) !important;
    font-weight: bold;
   
}
.btn span{
    color: white;
}
.btn span:hover{
    color: var(--primary);
}
    /* .background-image{
       transform: rotate(180deg);
    } */